@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Roboto:wght@100;300;400;500;700;900&family=Volkhov:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --body-font: 'Poppins';
    --body-font-2: 'Volkhov';
    --body-font-3: 'noto sans jp';
    --body-font-4: 'open sans';
    --normal-font-size: 0.93rem;
    --small-font-size: 0.81rem;
    --navBar-color: #212832;
    --firstheading: #181E4B;
    --tagline-color: #DF6951;
    --button2: #f06549;
    --button1: #F1A501;
    --White: #fff;
    --black: #000;
    --shadow: #f9f6f6;
    --text-1: #5E6282;
    --text-2: #14183E; 
    --text-3: #1E1D4C; 
    --text-4: #; 
    --text-5: #080809; 
    --demo-color: #686D77;
    --subcribe: #DFD7F9;


}
body{
    background-image: url(asset/Decore.svg);
    background-position: top;
    background-position-x: right;
    background-repeat: no-repeat;

}
.navBar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 47px 0px;
    width: 90%;
    margin: auto;
}
.nav_list{
    display: flex;
    flex-direction: row;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-family: var(--body-font-3);
    color: var(--navBar-color);
}
.navBar .nav_list a{
    text-decoration: none;
    color: var( --navBar-color);
    padding-left: 4em;
}
.dropdown .drop_btn {
    border: none;
    outline: none;
    color: var(--White);
    margin: 0;
    font-weight: 300;
    font-family: var(--body-font-3);
    position: relative;
    top: 6px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--White);
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
    
  }
  
  .dropdown-content a {
    float: none;
    color: var(--black);
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(253, 241, 241);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
button{
    width: 102px;
    height: 40px;
    border: 1px solid  var(--navBar-color);
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    font-family: var(--body-font-3);
}
.btn_0:hover{
    border: 3px solid  var(--navBar-color);
    transition: ease-in 0.6s;
    width: 95px;
    height: 40px;
}

/* section 1 */

.section_1{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.hero{
    position: relative;
    top: 50px;
}
.tagline{
    font-family: var(--body-font);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: var(--tagline-color);
    position: relative;
    text-transform: uppercase;
}
.heading{
    font-family: Var(--body-font-2);
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: var(--firstheading);
    width: 570px;
}
.decore_text{
    background-image: url(asset/Decoretext.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 210px;
    background-size: 350px;
}
.desc{
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--text-1);
}
.btn_1{
    background: var(--button1);
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    border: none;
    color: var(--White);
    font-family: Google Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    width: 170px;
    height: 60px;
    cursor: pointer;
}
.play{
    position: relative;
    top: 65px;
    cursor: pointer;
}
.demo{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

/* section 1 styling ends */
/* section 2 styling start */

.section_2{
    text-align: center;
    width: 1228px;
    margin: auto;
    position: relative;
    top: 50px;
}
.category{
    font-family: var(--body-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}
.section_header{
    font-family: var(--body-font-2);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    position: relative;
    top: 10px;
    color: var(--text-2);
}
.services{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.box{
    position: relative;
    padding: 50px 0px;
    height: 314px;
    border-radius: 36px;
    width: 230px;
    padding: 20px;
    z-index: 99;
}
.two{
    position: relative;
    box-shadow: 0px 1.8518518209457397px 6.1481480598449707px 0px #00000003;
    box-shadow: 0px 8.148148536682129px 9.518518447875977px 0px #00000006;
    box-shadow: 0px 38.51852035522461px 25.481481552124023px 0px #00000009;
    height: 314px;
    border-radius: 36px;
    width: 230px;
    z-index: auto;
    background-color: var(--White);
}
.vector{
    padding: 20px 0em;
}
.avatar{
    position: relative;
    top: 40px;
    left: -100px;
    z-index: -10;
 }
.services-text{
    padding-bottom: 20px;
    font-family: var(--body-font-4);
}
p{
    font-family: var(--body-font);
}

/* section 2 styling ends*/
/* section 3 styling start */

.section_3{
    text-align: center;
    position: relative;
    top: 150px;
}
.destinations_header{
    font-family: Volkhov;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--text-2);
}
.destinations{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 4em;
    position: relative;
    top: 50px;
    font-family: var(--body-font-3);
}
.card{
    box-shadow: 0px 21.8518518209457397px 30.1481480598449707px 0px #00000003;
    box-shadow: 0px 28.148148536682129px 26.518518447875977px 0px #00000006;
    box-shadow: 0px 40px 33px 10px #00000003;
    box-shadow: 0px 38.51852035522461px 25.481481552124023px 5px #00000009;
    border-radius: 24px;
}
.italy{
    position: absolute;
    height: 140px;
    width: 314px;
    bottom: 4px;
    background-color: var(--White);
    z-index: 999;
    border-radius: 0px 0px 24px 24px;
    margin: auto;
}
.london{
    width: 333px;
    position: absolute;
    height: 140px;
    bottom: 4px;
    background-color: var(--White);
    z-index: 999;
    border-radius: 0px 0px 22px 22px;
    margin: auto;
}
.europe{
    position: absolute;
    height: 140px;
    width: 314px;
    bottom: 4px;
    background-color: var(--White);
    z-index: 999;
    border-radius: 0px 0px 24px 24px;
    margin: auto;
}
.deals{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.destinations_length{
    position: relative;
    top: -15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    

}
/* .cardthree{
    background-image: url(asset/Decore2.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 150px;
} */

/*  */

.section_4{
    position: relative;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subheading4{
    font-weight: 600;
    font-family: var(--body-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}
.nexttrip_heading{
    font-family: var(--body-font-2);
    font-size: 50px;
    width: 511px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 20px;
    color: var(--text-2);
}
h6{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
.values{
    height: 289px;
}
.value{
    width: 395px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}
.value_text{
    color: var(--text-1);
}

/*  */
/*  */

.section_5{
    position: relative;
    top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 350px;
    gap: 100px;
}
.subheading5{
    font-family: var(--body-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    color: var(--text-1);
}
.heading5{
    font-family: var(--body-font-2);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    width: 409px;
    color: var(--text-2);
}
.section_5 input{
    height: 12px;
    width: 40px;
    margin-top: 70px;
}
.testimonial{
    box-shadow: 10px 20px 18px 10px #92595905;
    background: var(--White);
    height: 245px;
    width: 504px;
    border-radius: 10px;
    padding: 30px;
}
.testimonial_text{
    height: 96px;
    font-family: var(--body-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 40px;
    color: var(--text-1);
}
.testimonial_image{
    position: relative;
    top: 40px;
    left: -25px;
}
.testifier{
    font-family: var(--body-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    color: var(--text-1);
}
.testifier_location{
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    color: var(--text-1);
}
.testimonial_2{
    position: absolute;
    top: 75px;
    right: 250px;
    z-index: -1;
}
.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
/* .carousel:hover{

} */


/*  section 5 ends*/
/*  section 6 start*/

.section_6{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1073px;
    margin:auto;
    cursor: pointer;
}
.logos_3{
    box-shadow: 10px 10px 8px 10px #00000005;
    height: 86px;
    width: 241px;
    border-radius: 15px;
}

/* section 6 ends (logoss) */
/* section 7  starts (subscribe section)*/

.section_7{
    position: relative;
    top: 120px;
    height: 407px;
    width: 80%;
    text-align: center;
    background-color: var(--subcribe);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 170px 20px 20px 20px;
    background-image: url(Asset/mask\ 42.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: left;
}
.subcribe_text{
    width: 859px;
    position: relative;
    top: -75px;
    font-family: var(--body-font);
    color: var(--text-1);
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
}
.subcribebtn{
    height: 60px;
    width: 180px;
    left: 832px;
    top: 4108px;
    border-radius: 10px;
    color: var(--White);
    border: none;
    background-color: var(--button2);
    outline: none;
}
.search{
    height: 60px;
    width: 421px;
    border-radius: 10px;
    border: none;    
    background-image: url(Asset/message.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 20px;
    outline: none;
    padding: 0px 50px;
}
.share{
    position: relative;
    top: -110px;
    left: 590px;
}
.elipse{
    position: relative;
    top: -170px;
}

/*  */
/*  */

footer{
    height: 250px;
    position: relative;
    top: 300px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
}
.footer_text{
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    height: 48px;
    width: 207px;
    margin: 30px 0px;
    color: var(--text-1);        
}
ul, li{
    list-style: none;
    line-height:35px;
    font-family: var(--body-font-3);
    font-size: 16px;
    font-weight: 400;
    color: var(--text-1);
}
.columns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 474px;
    text-align: left;
}
.columns_header{
    height: 26px;
    width: 108px;
    font-family: var(--body-font);
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 26px;
}
.socials{
    height: 147px;
}
.socials_header{
    margin: 20px 0px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.005em;
}
.copyrights{
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    margin-top: 50px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width: 1200px) {
    /* For smaller screen laptops: */
   
  }

@media only screen and (max-width: 768px) {
    /* For mobile tabs: */
    {
      width: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }